

.introducao-bg {
  background: url(/bikelife/img/fotos/bicicleta1.jpg) no-repeat ;
  background-size:100% auto ;
  box-sizing: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.introducao {
  padding-top: 192px;

}
.introducao h1 {
  margin-bottom: 32px;
}
.introducao p {
  margin-bottom: 60px;
  max-width: 25ch;
}
.introducao a {
  margin-bottom: 7rem;

}

@media (max-width: 1400px) {
  .introducao h1 {
    margin-bottom: 20px;
  }
  .introducao p {
    font-size: 16px;
    line-height: 1.125;
    margin-bottom: 20px;
  }
  .introducao {
    padding-top: 100px;
  }
}
@media (max-width: 800px) {
  .introducao {
    padding-top: 50px;
  }
  .introducao h1 {
    margin-bottom: 10px;
    line-height: 1.125;
    font-size: 1.7rem;
  }
  .introducao p {
    font-size: 1rem;
    line-height: 1.125;
    margin-bottom: 20px;
  }
}
